projectTemplates/haxeExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fdt.powerflasher.com/ProjectTemplate/HaxeExtension"
	xmlns:tns="http://fdt.powerflasher.com/ProjectTemplate/HaxeExtension">
	<element name="haxe">
		<complexType>
			<sequence>
				<element name="name" type="string"></element>
				<element name="foo" type="string"></element>
			</sequence>
		</complexType>
	</element>
</schema>